<style>
	table.table4{
		border: 1px solid black;
		border-collapse: separate;
		border-spacing: 5px 5px;
		margin: 5px;
		border-radius: 8px;
		
	}

	tr:nth-child(even) {background-color: #f2f2f2}
	tr:hover {background-color: #f5f5f5}
	
	th.th1 {
		font-style: bold;
		font-size: 1.3em;
		
	}	
</style>

<% @page_title = "UserAuth | Signup" %>
<div class="Sign_Form">
  <h1 class = "h5">Editovanje Restorana</h1>
  <%= form_for :restaurant, url: restaurant_path(@restaurant), method: :patch do |f| %>
	<table class="table4">
	<tr><th class="th1"> Ime Restorana: </th><th><%= f.text_field :name %></th></tr>
	<tr><th class="th1">Udaljenost: </th><th><%= f.text_field :distance %></th></tr>
	<tr><th class="th1">Rejting: </th><th><%= f.text_field :rating %></th></tr>
	<tr><th class="th1">Prijatelji: </th><th><%= f.text_field :friends %></th></tr>
	<tr><th class="th1">Rezervacija: </th><th><%= f.text_field :reservation %></th></tr>
	</table>

	<div align="left"><%= f.submit :"Edit" %></div>

  <% end %>
  <% if @restaurant.errors.any? %>
    <ul class="Signup_Errors">
    <% for message_error in @restaurant.errors.full_messages %>
      <li>* <%= message_error %></li>
    <% end %>
    </ul>
  <% end %>
</div>