<style>
	/* Sortable tables */
	
	table.sortable thead {
    border: 1px solid black;
	border-collapse: separate;
	border-spacing: 5px 5px;
    cursor: default;
	}
	table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
	}	
	tr.tr1:nth-child(even) {background-color: #f2f2f2}
	
	th.th1 {
		background-color: #bdbdbd;
		
	}
</style>
 
<table class="sortable">
  <thead>
  <tr class="tr1">
    <th class="th1">Ime Restorana  </th>
	<th class="th1">Udaljenist  </th>
	<th class="th1">Rejting  </th>
	<th class="th1">Prijatelji  </th>
	<th class="th1">Rezervacija  </th>
  </tr>
  </thead>
  
  <tbody>
  <% @restaurant.each do |restaurants| %>
    <tr class="tr1">
      <td><%= restaurants.name %></td>
	  <td><%= restaurants.distance %></td>
	  <td><%= restaurants.rating %></td>
	  <td><%= restaurants.friends %></td>
	  <td><%= restaurants.reservation %></td>
	  <td><%= link_to 'Edit', edit_restaurant_path(restaurants)%></td>
    </tr>
  <% end %>
  </tbody>
</table>