<% @page_title = "Add Restaurant" %>
<div class="Sign_Form">
  <h1>Restorani</h1>
  <%= form_for (@restaurant) do |f| %>
	<p>Ime Restorana:</br><%= f.text_field :name %></p>
	<p>Udaljenost:</br><%= f.text_field :distance %></p>
	<p>Rejting:</br><%= f.text_field :rating %></p>
	<p>Prijatelji:</br><%= f.text_field :friends %></p>
	<p>Rezervacija:</br><%= f.text_field :reservation %></p>
	<%= f.submit :"Add" %>
  <% end %>
  <% if @restaurant.errors.any? %>
    <ul class="Signup_Errors">
    <% for message_error in @restaurant.errors.full_messages %>
      <li>* <%= message_error %></li>
    <% end %>
    </ul>
  <% end %>
</div>
  