<p>
  <strong>Ime:</strong>
  <%= @restaurant.name %>
</p>
 
<p>
  <strong>Razdaljina:</strong>
  <%= @restaurant.distance %>
</p>

<p>
  <strong>Rejting:</strong>
  <%= @restaurant.rating %>
</p>

<p>
  <strong>Prijatelji:</strong>
  <%= @restaurant.friends %>
</p>

<p>
  <strong>Rezervacija:</strong>
  <%= @restaurant.reservation %>
</p>