<table class="flat-table sortable">
	
  <thead>
  <tr>
    <th>E-mail</th>
	<th>Ime</th>
	<th>Prezime</th>
	<th>Adresa</th>
  </tr>
  </thead>
 
  <tbody>
  <% @user.each do |users| %>
	
    <tr>
      <td class="td1"><%= users.email %></td>
	  <td class="td1"><%= users.ime %></td>
	  <td class="td1"><%= users.prezime %></td>
	  <td class="td1"><%= users.adresa %></td>
	  <td class="tdeditkor"><%= link_to 'Edit', edit_user_path(users)%></td>
    </tr>
	
  <% end %>
  </tbody>
</table>


<% form_tag users_path, :method => 'get' do %>

    <%= text_field_tag :search, params[:search], placeholder: "Search Users"  %>
    <%= submit_tag "Search", :ime => nil %>

<% end %>






