<p class="comeon">Korisnici</p>

<table class="flat-tablek sortable">
	
  <thead>
  <tr class="pokusaj">
    <th>E-mail</th>
	<th>Ime</th>
	<th>Prezime</th>
	<th>Adresa</th>
  </tr>
  </thead>
 
  <tbody>
  <% @user.each do |users| %>
	
    <tr class="pokusaj">
      <td class="td1"><%= users.email %></td>
	  <td class="td1"><%= users.ime %></td>
	  <td class="td1"><%= users.prezime %></td>
	  <td class="td1"><%= users.adresa %></td>
	  <td class="tdeditresto"><%= link_to "Dodaj Prijatelja", friendships_path(:friend_id => users), :method => :post %></td>
	  
	  
    </tr>
	
  <% end %>
  </tbody>
</table>










