<div class="login-page">
	<div class="form">
		<h1 align="left">Login</h1>
		<%= form_tag(:action => 'login_attempt') do %>
			<input type="username" placeholder="username"<%= text_field_tag(:email) %>		
			<input type="password" placeholder="password"<%= password_field_tag :login_password %>
			<%= submit_tag("Log In") %>
			<p class="message">Niste registrovani? <%= link_to :"Kreiraj nalog" , :signup, class: "nav_links"%></p>
		<% end %>
	</div>
</div>