	<style>
	table.table1{
		border: 1px solid black;
		padding: 5px;
		
	}
	th.th3{
		text-align: left;
		width:90%;
	}	
</style>

<!DOCTYPE html>
<html>
<head>
  <title>Restoran</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="Main_Header">

		<%unless session[:user_id]%>
			<ul class="nav">
							
			</ul>
		<%else%>
			<table class="table1">
				<th class="th3"><%= link_to :"Moj Nalog" , :home, class: "nav_links" %> |
				<%= link_to :"Korisnici" , :users, class: "nav_links"%> |
				<%= link_to :"Restorani" , :restaurants, class: "nav_links"%></th>
				<th class="th3"><%= link_to :"Dodaj Restoran" , :setting, class: "nav_links" %></th>	
				<th class="th3"><%= link_to :Logout , :logout, class: "nav_links" %></th>	
			</table>
		<%end%>
	</div>
	<% if flash[:color]== "valid" %>
		<div class="valid_notice">
			<p><%= flash[:notice]%></p>
		</div>
	<% elsif flash[:color]== "invalid"%>
		<div class="invalid_notice">
			<p><%=flash[:notice]%></p>
		</div>
	<%else%>
		<div class="notice">
			<p><%=flash[:notice]%></p>
		</div>
	<%end%>
<%= yield %>

</body>
</html>
